/* FOOTER ************************/

footer {
  bottom: 0;
  display: flex !important;
  justify-content: center;
  align-items: center;
  background-color: #474747;
  color: white;
  text-align: center;
  height: 60px;
  margin-top: 20px;
  padding-top: 20px;
  font-weight: 400;
  width: 100%;
}

footer a {
  color: rgb(8, 243, 243);
}

footer a:hover {
  text-decoration: underline;
}
